*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
/imagePicker/build
/daon/build
/filepicker/build
/FilePickerNew/build
/JazeelPay_Android/build
/benefitinappsdk-release_1.0.9/build
/tg-bobf-sdk-kfh-release-101kfh/build
.externalNativeBuild
.cxx
/.idea/gradle.xml
.idea/gradle.xml
.idea/misc.xml
.idea/gradle.xml
.idea/gradle.xml
daon/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
daon/build/intermediates/incremental/mergeDebugShaders/merger.xml
daon/build/intermediates/incremental/packageDebugAssets/merger.xml
daon/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
daon/build/intermediates/incremental/packageDebugResources/merger.xml
daon/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
daon/build/outputs/logs/manifest-merger-debug-report.txt
imagePicker/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
imagePicker/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
imagePicker/build/intermediates/incremental/packageDebugResources/merger.xml
imagePicker/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
imagePicker/build/outputs/logs/manifest-merger-debug-report.txt
